In [21]:
import pymysql

db = pymysql.connect("localhost", "root","", "sakila")
cursor = db.cursor()
sql = "INSERT INTO actor (actor_id , first_name, last_name) VALUES ('1996', 'Rama', 'Sow');"
cursor.execute(sql)

db.commit()

print(cursor.rowcount, "record(s) affected")

IntegrityError: (1062, "Duplicate entry '1996' for key 'actor.PRIMARY'")

In [20]:
try:
    sqlQuery = "SELECT * FROM sakila.actor WHERE first_name = 'Rama'"
    cursor.execute(sqlQuery)
    results = cursor.fetchall()

    print("actor_id\tfirst_name\tlast_name")

    for column in results:
        actor_id = column[0]
        first_name = column[1]
        last_name = column[2]
        data_array = np.array([actor_id, first_name, last_name])

        print("%d\t%s\t%s" %\
              (actor_id, first_name, last_name))
except:
    print("ERROR: unable to fetch data")

actor_id	first_name	last_name
ERROR: unable to fetch data