In [30]:
#Accessing mysql database using python

In [31]:
import pymysql

In [32]:
#Open database
                        #server    username   password   db name 
db = pymysql.connect("localhost", "testuser","test123", "testdb")

In [33]:
# creting a cursor object using cursor() method
cursor = db.cursor()

In [34]:
#preparinga query
query = """SELECT * FROM employee"""

In [35]:
# execute a command using a try - exception block

try: 
    #excute a sqql command
    cursor.execute(query)
    results = cursor.fetchall()
    
    #print the data 
    print("id\tfirst\tlast\tage\tsex\tincome")
    
    #loop through the result set
    for row in results:
        #for each row save element data to a variable
        emp_id = row[0]
        fname = row[1]
        lname = row[2]
        age = row[3]
        sex = row[4]
        income = row[5]
        
        #lets print the current row
        print("%d\t%s\t%s\t%d\t%s\t%d" %\
             (emp_id, fname, lname, age, sex, income))
        
except:
    print("error: unable to fetch data")

id	first	last	age	sex	income
1	Mary	Smith	40	F	4000
2	Joe	Doe	53	M	3500
3	Mike	Jones	26	M	2200
4	Tom	Cane	32	M	1850
5	Betty	Crocker	25	F	5000
6	Sally	West	35	F	2500
7	Raph	Loren	43	M	3000
8	Keith	Sweat	55	M	4100
9	Mike	Jackson	58	M	10000
10	Juan	Ramirez	37	M	3000
11	Kanye	East	20	M	1500
12	Joan	Arc	60	F	2000
13	Carmen	Santiago	50	F	4000
14	Mac	TheNight	32	M	2500
15	Mac	TheDay	33	M	2600

In [36]:
db.close()