In [30]:
#Accessing mysql database using python

In [7]:
import pymysql

In [8]:
#Open database
                        #server    username   password   db name 
db = pymysql.connect(host="localhost", "testuser","test123", "testdb")

In [9]:
# creting a cursor object using cursor() method
cursor = db.cursor()

In [10]:
#preparinga query
query = """SELECT * FROM actor"""

In [11]:
# execute a command using a try - exception block

try: 
    #excute a sqql command
    cursor.execute(query)
    results = cursor.fetchall()
    print(results)
#     #print the data 
#     print("id\tfirst\tlast\tage\tsex\tincome")
    
#     #loop through the result set
#     for row in results:
#         #for each row save element data to a variable
#         emp_id = row[0]
#         fname = row[1]
#         lname = row[2]
#         age = row[3]
#         sex = row[4]
#         income = row[5]
        
#         #lets print the current row
#         print("%d\t%s\t%s\t%d\t%s\t%d" %\
#              (emp_id, fname, lname, age, sex, income))
        
# except:
#     print("error: unable to fetch data")

SyntaxError: unexpected EOF while parsing (<ipython-input-11-7c1e233c3c57>, line 26)

In [12]:
db.close()

In [13]:
import pymysql

db = pymysql.connect("localhost", "testuser","test123", "testdb")

sql = "INSERT INTO employee (employee_id , first_name, last_name, age, sex, income) VALUES ('1990', 'Puddi', 'Nani', '29', 'M', '5000');"

cursor.execute(sql)

db.commit()

print(cursor.rowcount, "record(s) affected")
db.close()

InterfaceError: (0, '')